

@model PayByPhoneCodingExercise.Models.TweetsViewModel

@{
    ViewBag.Title = "Home Page";
    //Layout = null;
}

<div class="jumbotron">
    <h1>Aggregated Twitter JSon</h1>
    <p class="lead">@Model.TweetJson</p>
</div>
